.aboutMe{
    padding: 4rem;
    height: auto;
    background: #fcf7f6;
}

h1 {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3.5em;
}


.image-text-container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

.image-column,
.text-column {
    width: 50%;
    display: flex;
    /* Enable flex behavior for children */
    align-items: center;
    /* Center content vertically */
    /* Center content horizontally */
}

.text-column{
    display: flex;
    flex-flow: column;
    background-color: #696969;
    padding: 2rem;
}

.text-column p {
  
    color:#fff;
    text-shadow: 0px 0px 27px rgba(66,66,66,.75);
    padding: 23px;
    font-size: 22px;
    border-width: 2px;
  }

.lang-box-me{
    padding: 2rem;
    align-items: center;
}

.image-column{
    justify-content: center;
    height: 80vh;
    right: 0;
    bottom: 0;
    left: 0;
    transform: scale(0.8,0.8);
}

@media screen and (max-width: 820px){

    .aboutMe{
        padding: 1rem;
    }

    .image-text-container{
        margin-top: -150px;
        flex-direction: column;
        
    }

    .image-column{
        margin: auto;
        transform: scale(0.5, 0.5);
    }

    .text-column{
        width: 100%;
        padding: 0%;
    }
    
}


