.about{
    padding: 4rem;
    height: auto;
    background: #fcf7f6;
}

h1 {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3.5em;
  }
p {
  
  color:#fff;
  text-shadow: 0px 0px 27px rgba(66,66,66,.75);
  padding: 23px;
  font-size: 18px;
  border-width: 2px;
}

.text-container{
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    background-color: #696969;
    padding: 2rem;
}

.text__wrapper {
    position: relative;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 50px 0 45px;
  }

@media only screen and (max-width: 1024px) {
  .about{
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .text-container{
    width: 100%;
    padding: 0.5rem;
  }

  .text__wrapper > p {
   font-size: 20px; 
  }

  .lang-box{
    transform: scale(100%);
    margin-top: 50px;
    height: 30px;
  }
}
