.gallery-container {
  position: relative;
  min-height: auto !important; /* allow it to grow with content */
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  height: auto;
  flex-grow: 0;
  flex-shrink: 0;
  outline: 2px solid red;
}







@media (min-width:500px) and (max-width: 960px){
    .gallery-container{
        overflow-y: auto;
    }

}


  