.gallery-container{
   
    position: relative;
    height: 110vh;
    width: 100%;
    padding-top: 30px;
    overflow: hidden;
    
}

.child-two{
    opacity: 0;
    transition: all 1s ease-in-out;
}

.child-two.active{
   
    opacity: 1;
    background: rgba(1,90,156,0.8);
    transform: translateY(-200%) !important;
    /*box*/
    padding: 23px;
    font-size: 25px;
    border-width: 2px;
    border-color: #767474;
    background-color: #696969;
    color: #fff;
    border-style: solid;
    border-radius: 14px;
    box-shadow: 0px 0px 22px rgba(66,66,66,.54);
    text-shadow: 0px 0px 27px rgba(66,66,66,.75);
}



@media screen and (max-width: 1024px) {
    .gallery-container {
    height: 110vh;
    width: 400px;
    }
}

/*
@media screen and (max-width: 500px){

    .gallery-container{
     height: 110vh;
     width: 350px;
    }
}
*/

@media (min-width:500px) and (max-width: 960px){

    .gallery-container{
     height: 150vh;
     width: 650px;
    }

}


  