.slider{
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    
}

.image-zoom{
    transform: scale(2, 2);
}

.image-large-horizontal {
  border-radius: 10px;
}

.image-large-vertical {
  border-radius: 10px;
}


.slide{
    opacity: 0;
    transition-duration: 1s ease;
}

.slide:hover{
  cursor: url(/public/search.svg), auto;
}

.slide.active {
    opacity: 1;
    transition-duration: 1s;
    transform: scale(1.5);
}



.right-arrow {
    transform: scale(5);
    position: absolute;
    top: 40%;
    right: 32px;
    font-size: 0.3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    padding: 0;
  }


.left-arrow {
    transform: scale(5);
    position: absolute;
    top: 40%;
    left: 32px;
    font-size: 0.3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    padding: 0;
  }

  .back-btn {
    transform: scale(5);
    position: absolute;
    top: 2%;
    left: 32px;
    font-size: 0.3rem;
    color: #000;
    z-index: 10;
    cursor: pointer;
    user-select: none;
    padding: 0;
  }

  @media screen and (min-width: 1024px) {
    .slider{
      margin-top: 30px;
    }

    .image-large-horizontal {
      margin-top: 200px;
      width: 520px;
      height: 400px;
    }

    .image-large-vertical {
      margin-top: 200px;
      width: 350px;
      height: 400px;
    }

  }

  @media (min-width:500px) and (max-width: 960px){

    .image-large-horizontal{
      width: 720px;
      height: 600px;
      transform: scale(35%, 30%);
      margin-bottom: 250px;
    }

    .image-large-vertical{
      width: 550px;
      height: 600px;
      transform: scale(30%, 33%);
      margin-bottom: 250px;
    }

    .left-arrow{
      display: none;
    }

    .right-arrow{
      display: none;
    }

  }
  
  @media screen and (max-width: 800px) {

    .image-large-horizontal{
      width: 720px;
      height: 600px;
      transform: scale(30%, 28%);
    }

    .image-large-vertical{
      width: 550px;
      height: 600px;
      transform: scale(38%, 40%);
    }

    .slider{
      height: 70rem;
    }

    .left-arrow{
      display: none;
    }

    .right-arrow{
      display: none;
    }
  }

  



  

  



 


